.App {
  background: url("./images/background-image-1.jpeg") center / cover no-repeat border-box;
  /*background-image: url('./images/background-image-1.jpeg');*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-position: center;*/
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
